/*=========================================================
	1.1 -> CSS da página do Admin
===========================================================*/

.product-form {
    background-color: #fff;
    border: 1px solid #e5e5e5;
    padding: 20px;
    border-radius: 5px;
    max-width: 500px;
    margin: 0 auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  label {
    display: block;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #333;
  }
  
  input[type="text"],
    textarea {
      width: 100%;
      padding: 10px;
      font-size: 16px;
      border: 1px solid #ccc;
      border-radius: 3px;
      margin-bottom: 20px;
      box-sizing: border-box;
    }
  
    button[type="submit"] {
      background-color: #fdb900;
      color: #000000;
      border: none;
      padding: 10px 20px;
      font-size: 16px;
      border-radius: 3px;
      cursor: pointer;
      transition: background-color 0.3s ease;
    }
  
    .botaoProduto button:hover {
      background-color: #FFC107;
    }

    h1{
        text-align: center;
        
    }

    .form-control[type="file"] {
      height: auto;
      padding: 0.375rem 0.75rem;
      line-height: 1.5;
      background-color: transparent;
      border: 1px solid #ced4da;
      border-radius: 0.25rem;
    }

    .form-control[type="file"]:focus {
      border-color: #86b7fe;
      box-shadow: 0 0 0 0.2rem rgba(13, 110, 253, 0.25);
    }
/*Estilo do botão*/
    input[type="file"]::-webkit-file-upload-button {
      color: #000000;
      background-color: #FFC107;
      padding: 0.375rem 0.75rem;
      border-radius: 0.25rem;
      cursor: pointer;
    }
    
    input[type="file"]::-webkit-file-upload-button:hover {
      background-color: #FFC107;
      border-color: #000000;
    }
    
    input[type="file"]::-webkit-file-upload-button:focus {
      outline: none;
      box-shadow: 0 0 0 0.2rem rgba(13, 110, 253, 0.25);
    }

    /* Estilo do Select*/

    /* Estilo para el contenedor del formulario */

/* Estilo para la etiqueta del campo */
label #selecaoCat{
  display: block; /* Hace que la etiqueta ocupe una línea completa */
  font-size: 1rem; /* Tamaño de fuente */
  font-weight: bold; /* Texto en negrita */
  margin-bottom: 0.5rem; /* Agrega un espacio entre la etiqueta y el campo */
}


/* Estilo para el campo de selección */
.input-select {
  font-size: 1rem; /* Tamaño de fuente */
  padding: 0.5rem; /* Agrega un espacio alrededor del campo */
  border-radius: 0.25rem; /* Redondea los bordes del campo */
  border: 1px solid #ced4da; /* Agrega un borde al campo */
  width: 100%; /* Ancho completo del contenedor */
}

/* Estilo para el texto de la opción seleccionada */
.input-select option:checked {
  font-weight: bold; /* Texto en negrita para la opción seleccionada */
  background-color: #f8f9fa; /* Agrega un color de fondo para resaltar la opción seleccionada */
}

/*=========================================================
	2.1 -> CSS da página do Admin
===========================================================*/

table {
  font-family: Arial, sans-serif;
  background-color: #fff;
  color: #444;
  border-collapse: collapse;
  width: 100%;
  margin: 20px 0;
  border: 1px solid #f2f2f2;
  border-radius: 5px;
}
th, td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}
th {
  background-color: #f2f2f2;
}
td img {
  max-width: 100%;
  height: auto;
}

.delete-btn {
  background-color: #d9534f;
  color: #fff;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
}
tr:not(:last-child) {
  border-bottom: 1px solid #ddd;
}



    