<!DOCTYPE html>
<html lang="pt-br">
	<head>
		<base href='/cliente/'>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		 <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
		<link rel="icon" href="./img/sunsoll.png">
		<title>Studio Soll Artesanatos</title>

 		<!-- Google font -->
 		<link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700" rel="stylesheet">

 		<!-- Bootstrap -->
 		<link type="text/css" rel="stylesheet" href="css/bootstrap.min.css"/>

 		<!-- Slick -->
 		<link type="text/css" rel="stylesheet" href="css/slick.css"/>
 		<link type="text/css" rel="stylesheet" href="css/slick-theme.css"/>

 		<!-- nouislider -->
 		<link type="text/css" rel="stylesheet" href="css/nouislider.min.css"/>

 		<!-- Font Awesome Icon -->
 		<link rel="stylesheet" href="css/font-awesome.min.css">

 		<!-- Custom stlylesheet -->
 		<link type="text/css" rel="stylesheet" href="css/style.css"/>

 		<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
 		<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
 		<!--[if lt IE 9]>
 		  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
 		  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
 		<![endif]-->


    </head>
	<body>
		<!-- HEADER -->
		<header>
			<!-- TOP HEADER -->
			<div id="top-header">
				<div class="container">
					<ul class="header-links pull-left">
						<li><a href="https://web.whatsapp.com/send?phone=999967412" target="_blank"><i class="fa fa-whatsapp"></i> (53) 999967412</a></li>
						<li><a href="https://instagram.com/studiosollartesanatos?igshid=ZmRlMzRkMDU="><i class="fa fa-instagram"></i> @studiosollartesanatos</a></li>
						<li><a href="https://www.google.com.br/maps/@-31.3109924,-54.1129319,3a,75y,54.68h,84.93t/data=!3m6!1e1!3m4!1so09rELnOH1uLoA0xTQ7MCg!2e0!7i16384!8i8192"><i class="fa fa-map-marker"></i> Av Espanha 439</a></li>
					</ul>
					</ul>
					<ul class="header-links pull-right">
						<%if(typeof Admin.nome == 'undefined'){%>
							<li><a href="/login"><i class="fa fa-user"></i>Entrar</a></li>
							<li><a href="/cadastro"><i class="fa fa-user-plus"></i>Cadastrar</a></li>
						<%}%>
						<%if(typeof Admin.nome !== 'undefined'){%>
							<li><a href="/logout"><i class="fa fa-user"></i>Sair</a></li>
						<%}%>		
					</ul>
				</div>
			</div>
			<!-- /TOP HEADER -->

			<!-- MAIN HEADER -->
			<div id="header">
				<!-- container -->
				<div class="container">
					<!-- row -->
					<div class="row">
						<!-- LOGO -->
						<div class="col-md-3">
							<div class="header-logo">
								<a href="/" class="logo">
									<img src="./img/logo.png" alt="">
								</a>
							</div>
						</div>
						<!-- /LOGO -->

						<!-- SEARCH BAR -->
						<div class="col-md-6">
							<div class="header-search">
								<form>
									<input class="input" id="header-redondo" placeholder="Digite o que você deseja...">
									<button class="search-btn">Buscar</button>
								</form>
							</div>
						</div>
						<!-- /SEARCH BAR -->

						<!-- ACCOUNT -->
						<div class="col-md-3 clearfix">
							<div class="header-ctn">
								
								<!-- Wishlist -->
								<div class="dropdown">
									<a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
										<i class="fa fa-heart-o"></i>
										<span>Desejos</span>
										<div class="qty">1</div>
									</a>
									<div class="cart-dropdown">
										<div class="cart-list">
											<!--Inicio do for do carrinho-->
											<div class="product-widget">
												<div class="product-img">
													<img src="./img/product01.png" alt="">
												</div>
												<div class="product-body">
													<h3 class="product-name"><a href="#">product name goes here</a></h3>
													<h4 class="product-price"><span class="qty">1x</span>R$980.00</h4>
												</div>
												<button class="delete"><i class="fa fa-close"></i></button>
											</div>
											<!--fim do for do carrinho-->
										</div>
										<div class="cart-summary">
											<small>1 Item(s) selecionados</small>
											<h5>SUBTOTAL: R$980.00</h5>
										</div>
										<div class="cart-btns">
											<a href="#">Adicionar ao Carrinho  <i class="fa fa-arrow-circle-right"></i></a>
										</div>
									</div>
								</div>
								<!-- /Wishlist -->

								<!-- Cart -->
								<div class="dropdown">
									<a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
										<i class="fa fa-shopping-cart"></i>
										<span>Carrinho</span>
										<div class="qty">1</div>
									</a>
									<div class="cart-dropdown">
										<div class="cart-list">
											<!-- Inicio do For do carrinho-->
											<div class="product-widget">
												<div class="product-img">
													<img src="./img/product01.png" alt="">
												</div>
												<div class="product-body">
													<h3 class="product-name"><a href="#">product name goes here</a></h3>
													<h4 class="product-price"><span class="qty">1x</span>R$980.00</h4>
												</div>
												<button class="delete"><i class="fa fa-close"></i></button>
											</div>
											<!-- Fim do for do carrinho-->											
										</div>
										<div class="cart-summary">
											<small>1 Item(s) selecionados</small>
											<h5>SUBTOTAL: R$980.00</h5>
										</div>
										<div class="cart-btns">
											<a href="/checkout">Checkout  <i class="fa fa-arrow-circle-right"></i></a>
										</div>
									</div>
								</div>
								<!-- /Cart -->

								<!-- Menu Toogle -->
								<div class="menu-toggle">
									<a href="#">
										<i class="fa fa-bars"></i>
										<span>Menu</span>
									</a>
								</div>
								<!-- /Menu Toogle -->
							</div>
						</div>
						<!-- /ACCOUNT -->
					</div>
					<!-- row -->
				</div>
				<!-- container -->
			</div>
			<!-- /MAIN HEADER -->
		</header>
		<!-- /HEADER -->

		<!-- NAVIGATION -->
		<nav id="navigation">
			<!-- container -->
			<div class="container">
				<!-- responsive-nav -->
				<div id="responsive-nav">
					<!-- NAV -->
					<ul class="main-nav nav navbar-nav">
						<li class="active"><a href="/">Home</a></li>
						<li><a href="/store">Produtos</a></li>
						<li><a href="/checkout">Checkout</a></li>
						<li><a href="/login">Entrar</a></li>
						<li><a href="/perfil">Perfil</a></li>
					</ul>
					<!-- /NAV -->
				</div>
				<!-- /responsive-nav -->
			</div>
			<!-- /container -->
		</nav>
		<!-- /NAVIGATION -->

		<!-- BREADCRUMB -->
		<div id="breadcrumb" class="section">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">
					<div class="col-md-12">
						<h3 class="breadcrumb-header">Termos & Condições</h3>
						<ul class="breadcrumb-tree">
							<li><a href="/">Home</a></li>
							<li class="active">Termos & Condições</li>
						</ul>
					</div>
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- /BREADCRUMB -->


		<!-- SECTION -->
		<div class="section">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">
					<h2>1. Informações de Conta</h2>
					<p>Ao criar uma conta conosco, você concorda em fornecer informações precisas, completas e atualizadas. É sua responsabilidade manter suas informações de conta atualizadas. Caso suspeite que sua conta foi comprometida, informe-nos imediatamente.</p>
					<h2>2. Propriedade Intelectual</h2>
					<p>O conteúdo deste site, incluindo imagens, textos, gráficos, logotipos e marcas registradas, é protegido por direitos autorais e outras leis de propriedade intelectual. Você não pode usar ou reproduzir esse conteúdo sem a permissão por escrito do Studio Soll Artesanatos.</p>
					<h2>3. Produtos e Serviços</h2>
					<p>Os produtos e serviços oferecidos pelo Studio Soll Artesanatos estão sujeitos à disponibilidade. Nos esforçamos para manter a precisão das informações sobre preços, descrições e imagens de produtos. No entanto, nos reservamos o direito de corrigir quaisquer erros ou omissões, e de modificar ou descontinuar produtos a qualquer momento sem aviso prévio.</p>
					<h2>4. Pagamentos e Envio</h2>
					<p>O pagamento é devido no momento da compra. Aceitamos várias formas de pagamento, incluindo cartões de crédito e PayPal. Os custos de envio são calculados com base no peso e destino do pedido e serão exibidos durante o checkout. Não nos responsabilizamos por atrasos ou perda de encomendas devido a problemas com a entrega.</p>
					<h2>5. Política de Devolução</h2>
					<p>Aceitamos devoluções de produtos não personalizados em até 30 dias após a entrega, desde que estejam em sua condição original. Produtos personalizados não são elegíveis para devolução, a menos que haja defeitos ou erros em nossa parte.
					<h2>6. Privacidade e Segurança</h2>
					<p>O Studio Soll Artesanatos leva a privacidade e a segurança dos dados de nossos clientes a sério. Todas as informações fornecidas são armazenadas com segurança e não serão compartilhadas com terceiros, a menos que exigido por lei.
					<h2>7. Modificações dos Termos e Condições</h2>
					<p>Nos reservamos o direito de modificar estes termos e condições a qualquer momento, sem aviso prévio. É sua responsabilidade verificar periodicamente esta página para revisar os termos e condições atualizados.
					<p>Ao usar o site do Studio Soll Artesanatos, você concorda em cumprir estes termos e condições. Se tiver alguma dúvida ou preocupação, entre em contato conosco. Obrigado por escolher o Studio Soll Artesanatos!
					</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- /SECTION -->

		<!-- NEWSLETTER -->
		<div id="newsletter" class="section">
	
		</div>
		<!-- /NEWSLETTER -->

		<!-- FOOTER -->
		<footer id="footer">
			<!-- top footer -->
			<div class="section">
				<!-- container -->
				<div class="container">
					<!-- row -->
					<div class="row">
						<div class="col-md-3 col-xs-6">
							<div class="footer">
								<h3 class="footer-title">Sobre Nós</h3>
								<p>Somos uma microempresa bageense, especializada em produtos artesanais. </p>
								<ul class="footer-links">
									<li><a href="#"><i class="fa fa-phone"></i> (53) 999967412</a></li>
									<li><a href="#"><i class="fa fa-instagram"></i> @studiosollartesanatos</a></li>
						<li><a href="#"><i class="fa fa-map-marker"></i> Av Espanha 439</a></li>
								</ul>
							</div>
						</div>

						<div class="col-md-3 col-xs-6">
							<div class="footer">
								<h3 class="footer-title">Categorias</h3>
								<ul class="footer-links">
									<li><a href="#">Tábuas</a></li>
									<li><a href="#">Colares</a></li>
									<li><a href="#">Abajures</a></li>
									<li><a href="#">Quadros em Mdf</a></li>
									<li><a href="#">Mandalas</a></li>
								</ul>
							</div>
						</div>

						<div class="clearfix visible-xs"></div>

						<div class="col-md-3 col-xs-6">
							<div class="footer">
								<h3 class="footer-title">Informações</h3>
								<ul class="footer-links">
									<li><a href="/termos">Sobre</a></li>
									<li><a href="/termos">Contatos</a></li>
									<li><a href="/termos">Política de Privacidade</a></li>
									<li><a href="/termos">Devolução</a></li>
									<li><a href="/termos">Termos & Condições</a></li>
								</ul>
							</div>
						</div>

						<div class="col-md-3 col-xs-6">
							<div class="footer">
								<h3 class="footer-title">Serviços</h3>
								<ul class="footer-links">
									<li><a href="#">Minha Conta</a></li>
									<li><a href="#">Ver Carrinho</a></li>
									<li><a href="#">Lista de Desejos</a></li>
									<li><a href="#">Checar Pedidos</a></li>
									<li><a href="#">Ajuda</a></li>
								</ul>
							</div>
						</div>
					</div>
					<!-- /row -->
				</div>
				<!-- /container -->
			</div>
			<!-- /top footer -->

			<!-- bottom footer -->
			<div id="bottom-footer" class="section">
				<div class="container">
					<!-- row -->
					<div class="row">
						<div class="col-md-12 text-center">
							<ul class="footer-payments">
								<li><a href="#"><i class="fa fa-cc-visa"></i></a></li>
								<li><a href="#"><i class="fa fa-credit-card"></i></a></li>
								<li><a href="#"><i class="fa fa-cc-paypal"></i></a></li>
								<li><a href="#"><i class="fa fa-cc-mastercard"></i></a></li>
								<li><a href="#"><i class="fa fa-cc-discover"></i></a></li>
								<li><a href="#"><i class="fa fa-cc-amex"></i></a></li>
							</ul>
							<span class="copyright">
								<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
								Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
							<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
							</span>


						</div>
					</div>
						<!-- /row -->
				</div>
				<!-- /container -->
			</div>
			<!-- /bottom footer -->
		</footer>
		<!-- /FOOTER -->

		<!-- jQuery Plugins -->
		<script src="js/jquery.min.js"></script>
		<script src="js/bootstrap.min.js"></script>
		<script src="js/slick.min.js"></script>
		<script src="js/nouislider.min.js"></script>
		<script src="js/jquery.zoom.min.js"></script>
		<script src="js/main.js"></script>
		<script src="js/script.js"></script>

	</body>
</html>
